body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.no-scroll {
  overflow: hidden;
}

#root {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(to top, rgb(255, 166, 43), rgb(194, 255, 255),rgb(194, 255, 255), rgb(194, 255, 255));
  
}


#root>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.row {
  flex-direction: row !important;
}

.row>* {
  margin: 5px;
}

/* h1 {
  font-family: 'Damion', cursive;
  color: #fff;
  text-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
} */

h2 {
  color: #fff;
  /*the text-shadow property below provides a border around the card name text*/
  text-shadow: 1px 1px 0 #000,
  -1px 1px 0 #000,
  1px -1px 0 #000,
  -1px -1px 0 #000,
  0px 1px 0 #000,
  0px -1px 0 #000,
  -1px 0px 0 #000,
  1px 0px 0 #000,
  2px 2px 0 #000,
  -2px 2px 0 #000,
  2px -2px 0 #000,
  -2px -2px 0 #000,
  0px 2px 0 #000,
  0px -2px 0 #000,
  -2px 0px 0 #000,
  2px 0px 0 #000,
  1px 2px 0 #000,
  -1px 2px 0 #000,
  1px -2px 0 #000,
  -1px -2px 0 #000,
  2px 1px 0 #000,
  -2px 1px 0 #000,
  2px -1px 0 #000,
  -2px -1px 0 #000;    
}

.swipe {
  position: absolute;
  display: flex;
}

.swiper {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cardContainer {
  padding-top: 4em;
  width: 90vw;
  max-width: 260px;
  height: 300px;
  display: flex;
  justify-content: center;
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #fff;
  width: 80vw;
  max-width: 260px;
  height: 300px;
  box-shadow: 4px 3px 2px 0px rgba(0, 0, 0, 0.164);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.cardContent {
  width: 100%;
  height: 100%;
}

.groupSidebarHeader{
  position: absolute;
  top: 0;
}

.groupSidebar{
  background-color: gray;
  position: absolute;
  padding-top: 8em;
  height: 1em;
  top: 50px;
  width: 100%;
  border: 1px solid black;
  overflow: auto;
}

.desktop-header {
  display: none
}

.swipe:last-of-type {

}

.swipe-menu {
  display: flex;
  flex-direction: column;
}

.groupMenu li{
  margin-left: 0;
}

.card h3 {
  position: absolute;
  bottom: 5px;
  margin: 10px;
  height: 60px;
  /*the text-shadow property below provides a border around the card name text*/
  text-shadow: 1px 1px 0 #000,
  -1px 1px 0 #000,
  1px -1px 0 #000,
  -1px -1px 0 #000,
  0px 1px 0 #000,
  0px -1px 0 #000,
  -1px 0px 0 #000,
  1px 0px 0 #000,
  2px 2px 0 #000,
  -2px 2px 0 #000,
  2px -2px 0 #000,
  -2px -2px 0 #000,
  0px 2px 0 #000,
  0px -2px 0 #000,
  -2px 0px 0 #000,
  2px 0px 0 #000,
  1px 2px 0 #000,
  -1px 2px 0 #000,
  1px -2px 0 #000,
  -1px -2px 0 #000,
  2px 1px 0 #000,
  -2px 1px 0 #000,
  2px -1px 0 #000,
  -2px -1px 0 #000;
}

.card h3 a {
  text-decoration: none;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  margin: 0 auto;
  color: white;
  padding: 0 5px;
  height: 3em;
  border-radius: 20px;
}

.card h3 a:hover {
  background-color: rgba(107, 107, 107, 0.658)
}

.card h1 {
  position: absolute;
  bottom: 25%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  /*the text-shadow property below provides a border around the card name text*/
  text-shadow: 1px 1px 0 #000,
  -1px 1px 0 #000,
  1px -1px 0 #000,
  -1px -1px 0 #000,
  0px 1px 0 #000,
  0px -1px 0 #000,
  -1px 0px 0 #000,
  1px 0px 0 #000,
  2px 2px 0 #000,
  -2px 2px 0 #000,
  2px -2px 0 #000,
  -2px -2px 0 #000,
  0px 2px 0 #000,
  0px -2px 0 #000,
  -2px 0px 0 #000,
  2px 0px 0 #000,
  1px 2px 0 #000,
  -1px 2px 0 #000,
  1px -2px 0 #000,
  -1px -2px 0 #000,
  2px 1px 0 #000,
  -2px 1px 0 #000,
  2px -1px 0 #000,
  -2px -1px 0 #000;
  color: rgb(255, 255, 255);
}


.infoText {
  width: 100%;
  height: 28px;
  justify-content: center;
  display: flex;
  color: #fff;
  animation-name: popup;
  animation-duration: 800ms;
}

.buttons {
  margin: 20px;
  display: flex;
}

.buttons div {
  flex-shrink: 0;
  padding: 20px;
  border-radius: 50%;
  border: none;
  color: #fff;
  font-size: 18px;
  background-color: #ffffff;
  transition: 200ms;
  margin: 0 40px;
  box-shadow: 6px 4px 4px 2px rgba(0, 0, 0, 0.267);
}

.buttons button:hover {
  transform: scale(1.05);
}

.url {
  color: rgb(34, 165, 34);
  font-weight: bolder;
  font-size: 16px;
}

li {
  list-style: none;
  list-style-position: inside;
  text-align: center;
  margin-left: -45px
}

.info {
  display: flex;
  width: 80%;
}


.select-box {
  width: 80%;
  margin: auto
}

footer {
  margin: 0 auto;
  padding-top: 1em;
  font-size: 10px;
  width: 80%;
  text-align: center;
}

.user-lists {
  padding: 50px;
}

.dash-menu {
  background-color: rgb(237, 231, 227);
  margin-top: 5em;
  position: fixed;
  display: flex !important;
  flex-flow: row;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  align-items: space-between;
}

.dash-icons {
  display: flex;
  flex-flow: row nowrap;
  flex: 2
}

.dash-text {
  color:rgb(0, 0, 0);
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  height: 100px
}

.dash-title {
  /* display: none; */
  font-size: 10px;
  text-align: center;
}

.dash-text a {
  text-decoration: none;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-weight: bold;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 0 2px;
  border-radius: 20px;
}

.dash-icon {
  font-size: 25px
}

p {
  text-align: left !important;
  font-size: 12px;
}

/* .info img {
  width: 100%;
} */

/* @keyframes popup {
  0%   { transform: scale(1,1) }
  10%  { transform: scale(1.1,1.1) }
  30%  { transform: scale(.9,.9) }
  50%  { transform: scale(1,1) }
  57%  { transform: scale(1,1) }
  64%  { transform: scale(1,1) }
  100% { transform: scale(1,1) }
}   */


@media screen and (min-width: 450px) {
  .nav-text a {
    font-size: 16px
  }
  .dash-title{
    display: flex;
    font-size: 12px;
  }

  .dash-text a {
    font-size: 13px
  }

  .dash-icon {
    font-size: 35px
  }

  .groupSidebarHeader{
    position: absolute;
    top: 0;
  }
  
  .groupSidebar{
    background-color: gray;
    position: absolute;
    margin: 1em;
    padding-top: 0px;
    height: 1em;
    top: 0;
    left: 0px;
    height: 100%;
    width: 25%;
    border: 1px solid black;
    overflow: auto;
  }
  
  .groupSidebar li {
    list-style-type: circle;
  }

  .mobile-header {
    display: none;
  }

  .desktop-header {
    display: flex;
    z-index: 5;
  }

}
